.img-thumbnail{
    width:100%;
   height:100%;
   margin:auto;
}

.thumbnail{
    padding:0;
    
    margin-right: 200px;
}

.thumbnail .caption-full{
    padding:9px;
}

.delete-form{
    display:inline;
}

.navbar-custom { 
    background-color: orange; 
}

.navbar-custom .navbar-brand { 
            color: black; 
        } 
body{
   background-color: #000000;
 animation: pulse 10s infinite;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes pulse {
  0% {
    background-color:  #ff1d58;
  }
  20% {
    background-color: #f75990;
  }
  40%{
      background-color: #fff685;
  }
  80%{
      background-color: #00DDFF;
  }
  100%{
      background-color: #0049B7;
  }
}
 /*#e1b382*/
 /*#2d545e*/
 

/*#001F3F;*/
/*#FF4136;*/

/*Yass Queen: #ff1d58*/

/*Sister Sister: #f75990*/

/*Crown Yellow: #fff685*/

/*Blue Light: #00DDFF*/

/*Brutal Blue: #0049B7*/